body {
    margin: 0;
    font-family: Roboto;
    box-sizing: border-box;
    margin: 0;    
    padding: 0;
}
ul, li {
    list-style: none;
    border-radius: 3px;
    margin: 0;    
    padding: 0;
}


.header__toDo__list, .cat__listitem {   
    width: 95%;
    padding: 10px 0;
    background-color: gray;    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-left: 0;
    text-align: center;  
    gap: 10px;
    color: white;  
    margin: 10px auto;
}

.cat__6 {
    color: gray;
    /* z-index: -1; */
}
.img__header {
    filter: invert(1);
    background-color: gray;
}

.img__garbage {
    width: 30px;    
     background-color: gray;
}
.button__header, .button__active__list {
    background-color: gray;
    border: none;
}









