body {
    margin: 0;
    font-family: Roboto;
    box-sizing: border-box;
    margin: 0;    
    padding: 0;
}
ul, li {
    list-style: none;
    border-radius: 3px;
    margin: 0;    
    padding: 0;
}



.header__toDo__list, .cat__listitem{   
    width: 95%;
    padding: 10px 0;
    background-color: 	#808080;    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-left: 0;
    text-align: center;  
    gap: 10px;
    color: white;  
    margin: 10px auto;
    align-items: center;
}


.cat__listitem, .input__date, .arhive__li__item  {
    background-color: #e8eaf6;
    color: #73767f;
}
.input__date {
    border: none;
}
.cat__name {
    color: #373a43;
    font-weight: bold;
}

.img__header {
    filter: invert(1);    
}
.cat__list {
    font-size: 20px;
    font-weight: bold;
}

.img__logo {
    width: 20px;   
    
}
.button__header, .button__active__list {
    background-color: gray;
    border: none;
}

.button__active__list {
    background-color: #e8eaf6;
    border: none;
}

.div__create__note {    
    width: 95%;
    margin: 20px auto  70px;
    display: flex;
    justify-content: right;
}

/* ////////////////////////////// */

.toDo__list__head {
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

.arhive__li__item {
    width: 95%;
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    margin: 10px auto;
    text-align: center;
    padding: 10px 0;
}

.arhive__toDo {
    margin-bottom:  300px;
}











